:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 0, 0);

  --text-color: rgb(125, 125, 125);
  --border-color: rgba(125, 125, 125, 0.5);
  --background-color: rgba(0, 0, 0, 0.5);

  --radio-primary-color: rgb(125, 125, 125);
  --radio-secondary-color: rgb(255, 255, 255);
  --radio-background-color: rgba(0, 0, 0, 0);
}

* {
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime les paddings par défaut */
  box-sizing: border-box; /* Inclut padding et border dans la taille totale des éléments */
  scroll-behavior: smooth; /* Ajoute un défilement fluide pour les ancres */
  /* outline: 1px solid rgb(255, 0, 0); */
}

html {
  height: 100%; /* Assure que l’HTML prend toute la hauteur */
  min-height: 100vh; /* Assure une hauteur minimale égale à l'écran */
  overflow-x: hidden; /* Pour éviter tout débordement horizontal */
}

body {
  display: flex; /* Active le modèle Flexbox pour organiser les enfants */
  flex-direction: column; /* Aligne les éléments en colonne (de haut en bas) au lieu de l'alignement par défaut en ligne */
  height: 100%; /* Prend toute la hauteur de l’écran */
  min-height: 100vh; /* Assure une hauteur minimale égale à l'écran */
  overflow-y: auto; /* Assure qu'un seul scroll vertical est actif */
  overflow-x: hidden; /* Pour éviter tout débordement horizontal */
  background: radial-gradient(
    circle,
    #630c3c,
    #590a38,
    #500933,
    #47072f,
    #3e062a,
    #370724,
    #30071f,
    #29061a,
    #220514,
    #1b030e,
    #110206,
    #000000
  );
}

header {
  display: flex; /* Active le modèle Flexbox pour organiser les enfants */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  margin-top: 5rem; /* Ajoute un espace de 2.5rem au-dessus du header */
  margin-bottom: 5rem; /* Ajoute un espace de 2.5rem en dessous du header */
}

header h1 {
  width: 55%; /* Ajuste la largeur */
  font-family: "Monoton", sans-serif; /* Police spéciale */
  font-weight: 400;
  font-style: normal;
  font-size: 5rem; /* Taille du texte */
  letter-spacing: 5px; /* Espacement entre les lettres */
  text-transform: uppercase; /* Met en majuscules */
  text-align: center; /* Centre le texte */
  color: var(--primary-color); /* Couleur du texte */
}

main {
  display: flex; /* Active le modèle Flexbox pour organiser les enfants */
  /* flex: 1;  /* Prend tout l’espace restant en hauteur */
  flex-direction: column; /* Organise les enfants en colonne */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre horizontalement */
  max-width: 100%; /* Évite les débordements en largeur*/
  width: 100%; /* Prend toute la largeur */
  margin-bottom: 5rem; /* Ajoute un espace de 2.5rem en dessous de l'élément */
}

.main-div {
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  background-color: var(--background-color);
  backdrop-filter: blur(10px);
}

.param-canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.graph {
  border: 1px solid var(--border-color);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
}

.formulaire-typeofweather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  font-size: large;
  color: var(--text-color);
  gap: 1rem;
}

.formulaire-typeofweather label {
  padding: 0.5rem;
  text-align: center;
  background: var(--radio-background-color);
  border: var(--radio-primary-color) 0.5px solid;
  color: var(---radio-primary-color);
  cursor: pointer;
  transition: 0.1s ease-in-out 0s;
  width: 100%;
}
.formulaire-typeofweather label:hover {
  background-color: var(--radio-background-color);
  border: var(--radio-secondary-color) 0.5px solid;
  color: var(--radio-secondary-color);
}
.formulaire-typeofweather [type="radio"]:checked ~ label {
  background-color: var(--radio-background-color);
  border: var(--radio-secondary-color) 0.5px solid;
  color: var(--radio-secondary-color);
}

.formulaire-typeofweather [type="radio"] {
  display: none;
}

.formulaire-typeofweather,
#ville,
#start-date,
#end-date {
  font-family: monospace;
  font-size: large;
}
.pluie,
.neige,
.vent,
.temperature {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.radio-container {
  font-family: monospace;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--text-color);
}

.radio-container label {
  padding: 0.5rem;
  text-align: center;
  background: var(--radio-background-color);
  border: var(--radio-primary-color) 0.5px solid;
  color: var(--radio-primary-color);
  cursor: pointer;
  transition: 0.1s ease-in-out 0s;
  min-width: 8rem;
}
.radio-container label:hover {
  background-color: var(--radio-background-color);
  border: var(--radio-secondary-color) 0.5px solid;
  color: var(--radio-secondary-color);
}
.radio-container [type="radio"]:checked ~ label {
  background-color: var(--radio-background-color);
  border: var(--radio-secondary-color) 0.5px solid;
  color: var(--radio-secondary-color);
}

.radio-container [type="radio"] {
  display: none;
}

.radio-container,
.text-container {
  margin-top: 4.5rem;
  display: none;
  height: 20rem;
  width: 15rem;
}

.text-container {
  border: var(--radio-primary-color) 0.5px solid;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.text-infos {
  color: var(--text-color);
  font-family: monospace;
  font-size: large;
}

.input-dropdown-container {
  width: 100%;
  height: 100%;
}

.dropdown-city-menu {
  width: 18%;
  height: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.dropdown-city-menu > * {
  background-color: transparent;
  color: var(--text-color);
  font-family: monospace;
  font-size: medium;
  text-align: left;
  padding: 8px 12px;
  border: 1px solid transparent;
  transition: ease-in-out 0.1s;
}

.dropdown-city-menu *:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.input-container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.date-input-container {
  width: 50%;
  display: flex;
  gap: 1rem;
}

.city-input-container {
  width: 50%;
}

.radio-button {
  display: flex;
  transition: 0.2s;
}

.button {
  text-align: center;
}

#ville {
  color: var(--primary-color);
  padding: 8px 12px;
  background: transparent;
  width: 100%;
  border: 1px solid var(--border-color);
}

#start-date {
  background: transparent;
  color: var(--primary-color);
  padding: 8px 12px;
  width: 100%;
  transition-duration: 0.5s;
}
#end-date {
  background: transparent;
  color: var(--primary-color);
  padding: 8px 12px;
  width: 100%;
  transition-duration: 0.5s;
}

#start-date,
#end-date {
  border: 1px solid var(--border-color);
}

#fetch-button,
#end-date,
#start-date,
#ville {
  height: 4rem;
}

#ville:focus,
#end-date:focus,
#start-date:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

#fetch-button {
  width: 10rem;
  font-size: large;
  font-family: monospace;
  height: 2rem;
  background: transparent;
  color: var(--primary-color);
  border: var(--primary-color) 0.5px solid;
  transition-duration: 0.1s;
  font-weight: bold;
}
#fetch-button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
