* {
  padding: 0;
  margin: 0;
}
:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(255, 255, 255, 0.5);
  --radio-color1: rgba(255, 255, 255, 0);
  --radio-color2: rgb(255, 255, 255, 0.3);
  --radio-color3: rgb(255, 255, 255);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 2rem 0 2rem 0;
  text-align: center;
  font-size: 5rem;
  line-height: 8rem;
  color: white;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: url("Pictures/background-weather.jpg") center/cover;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
}

.main-div {
  display: flex;
  gap: 1rem;
  width: 80%;
  background-color: rgba(4, 4, 4, 0.612);
  backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
  margin: 0 auto;
  border: 1px solid rgb(255, 255, 255, 0.2);
  padding: 3rem;
  justify-content: space-between;
  margin-top: calc(50vh - 20rem);
}

.param-canvas-container {
  display: flex;
  flex-direction: column;
   flex-direction: column;
  justify-content: center;
  gap: 1rem;

  width: 60%;
  margin: auto;
}

.formulaire-typeofweather {
  font-family: monospace;
  font-size: large;
  display: flex;
  justify-content: space-between;

  /* flex-direction: column; */
  color: var(--secondary);
  /* margin-right: 15px; */
  gap: 1rem;
}
.radio-container {
  font-family: monospace;
  font-size: large;
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  margin-left: 15px;
  gap: 0.5rem;
}
.formulaire-typeofweather,
#ville,
#start-date,
#end-date {
  font-family: monospace;
  font-size: large;
}
.pluie,
.neige,
.vent,
.temperature {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* width: 70%; */
}

.graph {
  /* height: 32rem; */
  width: 100%;
  display: none;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255, 0.3);
  flex-direction: column;
  background-color: rgba(4, 4, 4, 0.8);
  padding: 1rem 0 1rem 0;
  margin: auto;
}

.formulaire-typeofweather,
.radio-container {
  /* width: 10%; */
  /* margin: 0 auto 0 auto; */
  margin: 0;
}

.formulaire-typeofweather [type="radio"] {
  display: none;
}
.formulaire-typeofweather label {
  /* display: block; */
  padding: 0.5rem;
  text-align: center;
  background: var(--radio-color1);
  border: var(--radio-color2) 0.5px solid;
  color: var(---radio-color2);
  cursor: pointer;
  transition: 0.1s ease-in-out 0s;
  /* display: flex; */
  /* min-width: 8rem; 
  flex:1 */
  width: 100%;
}
.formulaire-typeofweather label:hover {
  background-color: var(--radio-color1);
  border: var(--radio-color3) 0.5px solid;
  color: var(--radio-color3);
}
.formulaire-typeofweather [type="radio"]:checked ~ label {
  background-color: var(--radio-color1);
  border: var(--radio-color3) 0.5px solid;
  color: var(--radio-color3);
}
.radio-container [type="radio"] {
  display: none;
}

.radio-container,
.text-container {
  margin-top: calc(37px + 1rem);
  width: 20%;
  display: none;
  height: 20rem;
}

.text-container {
  border: var(--radio-color2) 0.5px solid;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.text-infos {
  color: var(--secondary);
  font-family: monospace;
  font-size: large;
}

.radio-container {
  align-items: flex-end;
  justify-content: space-between;
}

.radio-container label {
  padding: 0.5rem;
  text-align: center;
  background: var(--radio-color1);
  border: var(--radio-color2) 0.5px solid;
  color: var(---radio-color2);
  cursor: pointer;
  transition: 0.1s ease-in-out 0s;
  min-width: 8rem;
}
.radio-container label:hover {
  background-color: var(--radio-color1);
  border: var(--radio-color3) 0.5px solid;
  color: var(--radio-color3);
}
.radio-container [type="radio"]:checked ~ label {
  background-color: var(--radio-color1);
  border: var(--radio-color3) 0.5px solid;
  color: var(--radio-color3);
}

.radio-button {
  display: flex;
  transition: 0.2s;
}

.input-dropdown-container {
  width: 100%;
  height: 100%;
}
.input-container {
  display: flex;
  gap: 1rem;
  /* justify-content: space-between; */
  width: 100%;
}
.city-input-container,
.date-input-container {
  width: calc(50%);
}

#ville {
  border: 0px;
  color: var(--primary);
  padding: 8px 12px;
  background: transparent;
  width: calc(100% - 1.5rem);
  border: 1px solid rgb(255, 255, 255, 0.3);
}

.date-input-container {
  display: flex;
  /* width: calc(50% - 2rem); */
  gap: 1rem;
}
#start-date {
  background: transparent;
  color: var(--primary);
  padding: 8px 12px;
  width: 100%;
  transition-duration: 0.5s;
}
#end-date {
  background: transparent;
  color: var(--primary);
  padding: 8px 12px;
  width: 100%;
  transition-duration: 0.5s;
}
.button {
  text-align: center;
}
#fetch-button,
#end-date,
#start-date,
#ville {
  height: 4rem;
}
#start-date,
#end-date {
  border: 1px solid rgb(255, 255, 255, 0.3);
}

#ville:focus,
#end-date:focus,
#start-date:focus {
  outline: none;
  border: 1px solid var(--primary);
}
.dropdown-city-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.dropdown-city-menu > * {
  background-color: transparent;
  color: var(--secondary);
  font-family: monospace;
  font-size: medium;
  border: 0px;
  text-align: left;
  padding: 8px 12px;
  border: 1px solid transparent;
  transition: ease-in-out 0.1s;
}
.dropdown-city-menu *:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
}
#fetch-button {
  width: 10rem;
  font-size: large;
  font-family: monospace;
  height: 2rem;
  background: transparent;
  color: var(--primary);
  border: var(--primary) 0.5px solid;
  transition-duration: 0.1s;
  font-weight: bold;
}
#fetch-button:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: black;
}

/*
@keyframes Weather-Zone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-1px, -1px);
  }
  20% {
    transform: translate(1px, -1px);
  }
  30% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(-1px, 1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  90% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(0);
  }
}
#text-effect {
  animation: Weather-Zone 5s linear 0s 1 normal forwards;
} */
